
@model RestaurantDetailsVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>


<div>
    @if (Model.Dishes != null && Model.Dishes.Any())
    {
        <p><i class="fas fa-info-circle"></i> @Model.Description</p>
        <h4>Menus</h4>

        <table>
            <thead>
                <tr>
                    <th width="20%">
                        <i class="fas fa-hamburger"></i> Plat
                    </th>
                    <th width="28%">
                        <i class="fas fa-align-justify"></i> Description
                    </th>
                    <th width="9%">
                        <i class="fas fa-money-bill"></i> Prix
                    </th>
                    <th width="10%">
                        <i class="fas fa-allergies"></i> Allergies
                    </th>
                    <th width="20%">
                        Image
                    </th>
                    <th width="13%">
                        Ajouter au panier
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Dishes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Allergies)
                        </td>
                        <td>
                            <img src="~/img/dishesImg/@Model.RestaurantId/@Html.DisplayFor(modelItem => item.ImageLink)" alt="@Html.DisplayFor(modelItem => item.ImageLink)" height="70" />
                        </td>
                        <td>
                            <a class="btn btn-light" onclick="AddDish(@item.DishId)"><i class="fas fa-cart-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <script>
            function AddDish(id) {
                $.ajax('@Url.Action("AddDish", "Order")/' + id,
                    {
                        type: 'POST',
                        timeout: 500,
                        dataType: 'json',
                        success: function (data, status, xhr) {   // success callback function
                          if (data.message == "Réussi") {
                            var nbr = parseInt($("#CartInfo").text());
                            $("#CartInfo").text(nbr + 1);
                          }
                          else {
                            $(".alert").removeClass("d-none")
                            $(".alert p").text(data.message)
                          }

                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            alert("Erreur!");
                            console.log(errorMessage);
                        }
                    });
            }
        </script>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Aucun plat disponible</h4>
            <p>Malheuresement, ce restaurant ne propose aucun plat pour le moment :(</p>
        </div>
    }
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Afficher les restaurants</a>
</div>
