@model RestaurantDetailsVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<!--TODO rajouter description...-->
<div>
    <h4>Menus</h4>

        <table>
            <thead>
                <tr>
                    <th width="30%">
                        Plat
                    </th>
                    <th width="30%">
                        Description
                    </th>
                    <th width="10%">
                        Prix
                    </th>
                    <th width="20%">
                        Allergies
                    </th>
                    <th width="20%">
                        Image
                    </th>
                    <th width="10%">
                        Ajouter
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Dishes)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergies)
                    </td>
                    <td>
                        <!-- TODO rajouter img-->
                       
                    </td>
                    <td>
                        <a onclick="AddDish(@item.DishId)">Ajouter</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
  <script>
    function AddDish(id) {
      $.ajax('/Order/AddDish/' + id,
        {
          type: 'POST', 
          timeout: 500,
          dataType : 'json',
          success: function (data, status, xhr) {   // success callback function
            var nbr = parseInt($("#CartInfo").text());
            $("#CartInfo").text(nbr + 1);
          },
          error: function (jqXhr, textStatus, errorMessage) { // error callback 
            alert("Erreur!");
            console.log(errorMessage);
          }
        });
    }
  </script>

</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
