@model FoodDeliveryPlatform.Models.CartVM

@{
    ViewData["Title"] = "Panier";
}

@if (Model != null)
{
    <h1>Passer commande</h1>
    <p><i class="fas fa-info-circle"></i> La livraison se fera à ton adresse enregistrée dans ton compte client</p>

    <hr />
    <form asp-action="Create">

        @if (Model.CartDetails != null && Model.CartDetails.Any())
        {
            <h4>Vocici ton panier panier</h4>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th width="30%">
                                <i class="fas fa-hamburger"></i> Plat
                            </th>
                            <th width="20%">
                                <i class="fas fa-sticky-note"></i> Notes au restaurant
                            </th>
                            <th width="20%">
                                <i class="fas fa-list-ol"></i> Quantité
                            </th>
                            <th width="15%">
                                <i class="fas fa-tag"></i> Prix unitaire
                            </th>
                            <th width="15%">
                                <i class="fas fa-tags"></i> Prix total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ decimal sum = 0;}
                        @for (int i = 0; i < Model.CartDetails.Count; i++)
                        {
                            CartDetailsVM cartDetails = Model.CartDetails[i];
                            @Html.HiddenFor(m => m.CartDetails[i].DishId);
                            @Html.HiddenFor(m => m.CartDetails[i].DishQuantity);
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => cartDetails.DishName)
                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.CartDetails[i].Note)
                                    <span asp-validation-for="CartDetails[i].Note" class="text-danger"></span>
                                </td>
                                <td>
                                    <a class="btn btn-light bg-danger" onclick="ModifyDish(@cartDetails.DishId,'@Url.Action("RemoveDish", "Order")')"><i class="fas fa-minus"></i></a>
                                    @Html.DisplayFor(modelItem => cartDetails.DishQuantity)
                                    <a class="btn btn-light bg-success" onclick="ModifyDish(@cartDetails.DishId,'@Url.Action("AddDish", "Order")')"><i class="fas fa-plus"></i></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => cartDetails.DishPrice)
                                </td>
                                <td>
                                    @{
                                        decimal total = cartDetails.DishPrice * cartDetails.DishQuantity;
                                        sum += total;
                                    }
                                    @Html.DisplayFor(modelItem => total)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <b><i class="fas fa-hand-holding-usd"></i> Total à payer au livreur</b>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <b>@Html.DisplayFor(modelItem => sum)</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <script>
                function ModifyDish(id, url) {
                    $.ajax(url + '/' + id,
                        {
                            type: 'POST',
                            timeout: 500,
                            dataType: 'json',
                            success: function (data, status, xhr) {   // success callback function
                                if (data.message == "Réussi") {
                                    var nbr = parseInt($("#CartInfo").text());
                                    if (url.includes('AddDish'))
                                        $("#CartInfo").text(nbr + 1);
                                    else
                                        $("#CartInfo").text(nbr - 1);
                                    location.reload();
                                }
                                else {
                                    $(".alert").removeClass("d-none")
                                    $(".alert p").text(data.message)
                                }

                            },
                            error: function (jqXhr, textStatus, errorMessage) { // error callback
                                alert("Erreur!");
                                console.log(errorMessage);
                            }
                        });
                }
            </script>
        }
        <hr />
        <div>
            <h5>Informations de livraison</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.RestaurantId)
            <div class="form-group">
                <p><i class="fas fa-clock"></i> Date de livraison</p>
                @Html.DropDownListFor(m => m.DateDelivery, new SelectList(Model.DatesDelivery), new { @class = "form-control" })
                <span asp-validation-for="DateDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p><i class="fas fa-pen"></i> Infos pour le livreur (facultatif)</p>
                @Html.TextAreaFor(m => m.OrderNote, new { @class = "form-control" })
                <span asp-validation-for="OrderNote" class="text-danger"></span>
            </div>
        </div>
        <div>
            <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@Model.RestaurantId" class="btn btn-secondary">
                <i class="fas fa-arrow-circle-left"></i> Continuer ma commande
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> Valider la commande
            </button>
        </div>
    </form>
}
else
{

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Le panier est vide</h4>
        <p>Choisis des plats disponibles dans ta région.</p>
    </div>
  
    <a class="btn btn-secondary" asp-controller="Restaurant" asp-action="Index"><i class="fas fa-arrow-left"></i> Afficher les restaurants</a>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

