@model FoodDeliveryPlatform.Models.OrderVM

@{
  ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
  <h4>Order</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      Addresse de livraison
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CustomerName)
    </dd>
    <dt class="col-sm-2">
      
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CustomerAddress)
    </dd>
    <dt class="col-sm-2">
      
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.CustomerLocation)
    </dd>
    <dt class="col-sm-2">
      Information supplémentaire
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.OrderNote)
    </dd>
    <dt class="col-sm-2">
      Date de livraison prévu
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.OrderDate)
    </dd>
    <dt class="col-sm-2">
      Montant total
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.TotalAmount)
    </dd>
    <dt class="col-sm-2">
      Etat
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Status)
    </dd>
  </dl>
    @if (Model.Details != null && Model.Details.Any())
    {
      <table>
        <thead>
          <tr>
            <th>
              Plat
            </th>
            <th>
              Quantité
            </th>
            <th>
              Notes
            </th>
          </tr>
        </thead>
        <tbody>
          @foreach (var item in Model.Details)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.DishName)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Quantity)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.OrderDetailsNote)
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  else
  {
    <p>Pas de détails pour cette commande</p>
  }
</div>
<div>
  @Html.ActionLink("Delivered", "Edit", new { id = Model.OrderId }) |
  <a asp-action="Index">Back to List</a>
</div>
