@model IEnumerable<OrderVM>

@{
  ViewData["Title"] = "Livraisons";
}

<h1>Liste Livraison</h1>

@if (Model != null && Model.Any())
{
  <table class="table">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.CustomerLocation)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.OrderNote)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.CustomerLocation)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.OrderNote)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Status)
          </td>
          <td>

            @Html.ActionLink("Delivered", "Edit", new { id = item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderId })
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <p>Pas de commande disponible</p>
}
